#countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.country{
    border: 1px solid goldenrod;
    border-radius: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
    width: 300px;
}
.country-name{
    font-size: 35px;
    color: magenta;
}
#countryDetail img{
    width: 200px;
}